@import "../var.scss";

.form {
  border: dashed 2px $dark;
  border-radius: 2.5rem;
  padding: 1rem;
  margin-block: 1rem;
  display: block;
  position: relative;

  .x {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    cursor: pointer;
  }

  h1 {
    color: $brown;
    margin: 0.25rem 0 1.25rem;
    font-size: 1.5rem;
  }

  article {
    @include mq(600px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    section {
      display: block;
      margin: auto;
      label img {
        display: block;
        margin-inline: auto;
      }
    }
    input[type="file"] {
      display: none;
    }
  }
}
