@import "../var.scss";

.form {
  h1 {
    color: $orange;
  }
  h2 {
    color: $brown;
    margin-block: 1.5rem;
    font-size: 1.75rem;
  }
  input + label {
    margin-top: 1.5rem;
    display: block;
  }
}
