@import "./var.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb($light, 0.3);
}

@font-face {
  font-family: "itim";
  src: url("/font/Itim-Regular.woff2") format("woff2"),
    url("/font/Itim-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "pacifico";
  src: url("/font/Pacifico-Regular.woff2") format("woff2"),
    url("/font/Pacifico-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("/font/Roboto-Regular.woff2") format("woff2"),
    url("/font/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

html {
  font-family: "roboto";
  main {
    width: min(calc(98dvw - 1rem), 1000px);
    margin-inline: auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "itim";
    }

    h1 {
      text-align: center;
    }

    .error {
      color: red;
      font-weight: bolder;
      font-size: 1.1rem;
      font-family: "itim";
      margin: 0.25rem 0 0.5rem 0.5rem;
    }

    form {
      label {
        font-family: "itim";
        color: $orange;
        font-size: 1.5rem;
      }
      input {
        &[type="text"],
        &[type="password"] {
          width: 100%;
          border: none;
          border-bottom: 2px solid $dark;
          padding: 0 0 2.5px 0.25rem;
          outline: none;
          transition: 500ms all;
          background: transparent;
          font-size: 2rem;
          &:focus,
          &:focus-visible,
          &:focus-within {
            border-bottom: 2px solid $grey;
          }
        }
        &[type="submit"] {
          display: block;
          margin: 1rem auto 0;
          font-size: 1.5rem;
          width: 50%;
          padding-block: 0.5rem;
          border-radius: 5rem;
          transition: 500ms all;
          border: 2px solid $dark;
          cursor: pointer;
          background: rgb($orange, 0.5);
          font-family: "itim";
          font-weight: bold;
          color: $dark;
          &:hover:not(&:disabled) {
            background: rgb($orange, 0.75);
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
